<style>
	picture img  {
		width: 100%;
	}
</style>

{%- set areaId = "Image" -%}
{%- set margin = distances["margin"] ? distances["margin"] : "" -%}
{%- set padding = distances["padding"] ? distances["padding"] : "" -%}

{%- set image = pimcore_image("image") -%}
{%- set attributes = { "attributes": 
	{ 
		"loading": loading.text,
		"class": "fluid-img"
	}
} -%}

{{ elementConfigBar|raw }}

<div class="{{ margin }} {{ padding }} {{ renderOptions }}" id="{{galleryId}}">
	{%- if editmode -%}
		{{ image|raw }}
	{%- else -%}
		{{ image.getThumbnail("designImage").getHtml(attributes)|raw }}
	{%- endif -%}
</div>