{% set areaId = "Separator" %}
{% set margin = distances["margin"] ? distances["margin"] : "" %}
{% set padding = distances["padding"] ? distances["padding"] : "" %}

<div class="{{ margin }} {{ padding }} {{ renderOptions }}">
	SKRIPT
</div>