{%- do attributes.addClass("gallery") -%}
{%- do attributes.addClass(theme) -%}
{%- do attributes.addClass("default-renderer") -%}

<div class="d-none">
    <div class="autoplay">{{autoplay}}</div>
    <div class="arrows">{{arrows}}</div>
    <div class="dots">{{dots}}</div>
</div>
<div {{ attributes|raw }} id="gallery-{{stdlib_uuid()}}">
    {%- if theme -%}
        {{ include('@AufwindDefaultCommon/areas/Gallery/_' ~ theme ~ '.html.twig') }}
    {%- endif -%}
</div>
