{%- if element.getHasOverlay() -%}
    <div class="overlay">
        {%- if element.getOverlayTitle() -%}
            <h2>{{ element.getOverlayTitle() }}</h2>
        {%- endif -%}

        {%- if element.getOverlayText() -%}
            {{ element.getOverlayText()|raw }}
        {%- endif -%}

        {%- if element.getOverlayLink() -%}
            <div class="btn btn-primary">{{ element.getOverlayLink()|raw }}</div>
        {%- endif -%}
    </div>
{%- endif -%}
