{%- set areaId = "columns" -%}
{%- set margin = distances["margin"] ? distances["margin"] : "" -%}
{%- set padding = distances["padding"] ? distances["padding"] : "" -%}

{%- set autoplaySpeed = autoplaySpeed.number == null ? 3000 : autoplaySpeed.number -%}
{%- set speed = speed.number == null ? 3000 : speed.number -%}

{%- set slideshow = pimcore_relations("slideshow") -%}
<div class="slideshow {{ margin }} {{ padding }} {{ renderOptions }}">
	{{ elementConfigBar|raw }}
	{%- if editmode -%}
		{{ slideshow|raw }}
	{%- else -%}
		<div class="slick-slider">
		{%- if theme == "simple-slider" -%}
			{{ include('@Design/Areas/designSlideshow/_simple-slider.html.twig') }}
		{%- endif -%}
		{%- if theme == "overlay-slider" -%}
		{%- endif -%}
		</div>
	{%- endif -%}
</div>

<script>
	$(document).ready(function() {
		$(".slick-slider").slick({
			autoplay: "{{autoplay}}",
			autoplaySpeed: "{{autoplaySpeed}}",
			dots: {{dots.value == 1 ? "true" : "false"}},
			arrows: {{arrows.value == 1 ? "true" : "false"}},
			speed: "{{speed}}",
			adaptiveHeight: "{{adaptiveHeight}}"
		});
	});
</script>