{%- set elements = pimcore_relations('gallery', 
    { 
        "types":["asset", "object"],
        "subtypes": {"object": ["folder"]},
        "classes": ["Gallery"]
    }) 
-%}

{% if editmode %}
    {{ elements|raw }}
{% else %}
    {%- set elements = get_gallery_elements(elements) -%}
    {%- for element in elements -%}
        <div class="slide">
        {%- if element.getType() == "image" -%}
            {{ include('@AufwindDefaultCommon/areas/Gallery/assetType/_image.html.twig') }}
        {%- endif -%}
        {%- if element.getType() == "video" -%}
            {{ include('@AufwindDefaultCommon/areas/Gallery/assetType/_video.html.twig') }}
        {%- endif -%}
        {%- if element.getType() == "object" -%}
            {%- if element.getGalleryImage() is defined and element.getGalleryImage() is not null -%}
                {{ include('@AufwindDefaultCommon/areas/Gallery/_overlay.html.twig') }}
                {{ include('@AufwindDefaultCommon/areas/Gallery/assetType/_image.html.twig', { "element": element.getGalleryImage() }) }}
            {%- endif -%}
            {%- if element.getGalleryVideo() is defined and element.getGalleryVideo() is not null -%}
                {{ include('@AufwindDefaultCommon/areas/Gallery/assetType/_video.html.twig', { "element": element.getGalleryVideo() }) }}
                {{ include('@AufwindDefaultCommon/areas/Gallery/_overlay.html.twig') }}
            {%- endif -%}
        {%- endif -%}
        </div>
    {%- endfor -%}
{% endif %}