{%- set elements = get_gallery_or_slideshow_elements(slideshow) -%}
{%- for element in elements -%}
    <div>
    {%- if element.getType() == "image" -%}
        {{ include('@Design/Areas/designSlideshow/assetType/_image.html.twig') }}
    {%- endif -%}
    {%- if element.getType() == "video" -%}
        {{ include('@Design/Areas/designSlideshow/assetType/_video.html.twig') }}
    {%- endif -%}
    {%- if element.getType() == "object" -%}
        {%- if element.getGalleryImage() is defined and element.getGalleryImage() is not null -%}
            {{ include('@Design/Areas/designSlideshow/assetType/_image.html.twig', { "element": element.getGalleryImage() }) }}
        {%- endif -%}
        {%- if element.getGalleryVideo() is defined and element.getGalleryVideo() is not null -%}
            {{ include('@Design/Areas/designSlideshow/assetType/_video.html.twig', { "element": element.getGalleryVideo() }) }}
        {%- endif -%}
    {%- endif -%}
    </div>
{%- endfor -%}