{% set areaId = "columns" %}
{% set margin = distances["margin"] ? distances["margin"] : "" %}
{% set padding = distances["padding"] ? distances["padding"] : "" %}

<div class="{{ margin }} {{ padding }} {{ renderOptions }}">
	{% import '@Toolbox/Macro/wrap.html.twig' as wrap_macro %}
	{{ elementConfigBar|raw }}
	<div class="toolbox-element toolbox-columns type-{{ type }} {{ additionalClassesData|join(' ') }} {{ equalHeight == true ? 'equal-height' : '' }}">
		<div class="row">
		{% include toolbox_area_path(areaId) %}
		{{ wrap_macro.createWrapFoot(elementThemeConfig) }}
		</div>
	</div>
</div>