{% set areaId = "Teaser" %}
{% set margin = distances["margin"] ? distances["margin"] : "" %}
{% set padding = distances["padding"] ? distances["padding"] : "" %}

<div class="{{ margin }} {{ padding }}">
	{{ include("@Toolbox/Areas/teaser/view.html.twig") }}
</div>