{% spaceless %}
	{%- set i = 0 -%}
	{%- set wh = "" -%}
	{%- for key, renderOption in renderOptions -%}
		<div class="row">
		{%- for i, option in renderOption -%}
			{%- if brick_id in option["bricks"] -%}
				{%- if wh != key -%}
					<p style="margin:10px 0 0 0;padding:0 15px;width: 100%;">{{ key }}</p>
					{%- set wh = key -%}
				{%- endif -%}
				{%- set checkboxName = "render-option-" ~ option["id"] -%}
				<div class="col-4">{{ pimcore_checkbox(checkboxName) }} {{ option["name"] }}</div>
			{%- endif -%}
		{%- endfor -%}
		</div>
		{%- set i = i + 1 -%}
	{%- endfor -%}
{% endspaceless %}