{% apply spaceless %}

{% if config_elements|length > 0 %}
    {# <div class="toolbox-element-edit-button" data-title="{{ document_editable_name }}"></div> #}
    {# <div class="toolbox-element-window toolbox-element-window-hidden" data-edit-window-size="{{ window_size }}"> #}

        <div class="toolbox-edit-overlay {{ window_size }}">
            {% set row_element_counter = 0 %}
            {% set row_counter = 0 %}
            {% set last_col_class = null %}

            {% for c, config_element in config_elements %}

                {% set edit_mode_hidden_class = config_element.additional_config.editmode_hidden == true ? 'editmode-hidden' : '' %}

                {% if c == 0 %}
                    <div class="t-row clearfix {{ edit_mode_hidden_class }}" data-index="0">
                {% endif %}

                {% if config_element.additional_config.col_class == 't-col-half' or config_element.additional_config.col_class == 't-col-third' %}
                    {% set row_element_counter = row_element_counter + 1 %}
                {% else %}
                    {% set row_element_counter = 0 %}
                {% endif %}

                {% if config_element.additional_config.col_class == 't-col-full' and last_col_class != 't-col-full' %}
                   </div><div class="t-row clearfix {{ edit_mode_hidden_class }}" data-index="{{ row_counter }}">
                {% endif %}

                <div class="toolbox-element" data-reload="{{ config_element.additional_config.edit_reload == true ? 'true' : 'false' }}">
                    <div class="{{ edit_mode_hidden_class }} {{ config_element.additional_config.col_class }}">

                    {% if config_element.additional_config.title is not null %}
                        <label>{{ config_element.additional_config.title }}</label>
                    {% endif %}
                    {% include '@Toolbox/Admin/AreaConfig/Elements/tag.html.twig' with {'type' : config_element.additional_config.type, 'tag_name' : config_element.additional_config.name, 'tag_config': config_element.tag_config} %}

                    {% if config_element.additional_config.description is defined and config_element.additional_config.description is not empty %}
                        <div class="description">{{ config_element.additional_config.description }}</div>
                    {% endif %}

                    </div><!-- .col-class -->
                </div><!-- .toolbox-element -->

                {% if row_element_counter == 0 or (config_element.additional_config.col_class == 't-col-half' and row_element_counter is divisible by(2)) or (config_element.additional_config.col_class == 't-col-third' and row_element_counter is divisible by(3)) %}
                    {% set edit_mode_hidden_class = config_elements[c+1].additional_config is defined and config_elements[c+1].additional_config.editmode_hidden == true ? 'editmode-hidden' : '' %}
                    </div><div class="t-row clearfix {{ edit_mode_hidden_class }}" data-index="{{ row_counter }}">
                {% endif %}

                {% set last_col_class = config_element.additional_config.col_class %}

                {% if c == config_elements|length - 1 %}
                    </div>
                {% endif %}

            {% endfor %}

       </div><!-- .toolbox-edit-overlay -->

    {# </div><!-- .toolbox-element-window --> #}

{% else %}
    <div class="toolbox-element-edit-button no-interaction" data-title="{{ document_editable_name }}"></div>
{% endif %}

{% endapply %}