{% spaceless %}
<div class="row">
	<div class="col-2"></div>
	<div class="col-8 text-center">
		<p>Outer Spacing Top</p>
		{{ pimcore_select("margin_top", {
			"store": [
				["", "---"],
				["mt-1", "klein"],
				["mt-3", "mittel"],
				["mt-5", "gross"],
			]
		}) }}
	</div>
	<div class="col-2"></div>
</div>
<div class="row">
	<div class="col-2 vertical-center">
		<p>Outer Spacing Left</p>
		{{ pimcore_select("margin_left", {
			"store": [
				["", "---"],
				["ml-1", "klein"],
				["ml-3", "mittel"],
				["ml-5", "gross"],
			]
		}) }}
	</div>
	<div class="col-8">
		<div class="row">
			<div class="col-4"></div>
			<div class="col-4 text-center">
				<p>Inner Spacing Top</p>
				{{ pimcore_select("padding_top", {
					"store": [
						["", "---"],
						["pt-1", "klein"],
						["pt-3", "mittel"],
						["pt-5", "gross"],
					]
				}) }}
			</div>
			<div class="col-4"></div>
		</div>
		<div class="row">
			<div class="col-4">
				<p>Inner Spacing Left</p>
				{{ pimcore_select("padding_left", {
					"store": [
						["", "---"],
						["pl-1", "klein"],
						["pl-3", "mittel"],
						["pl-5", "gross"],
					]
				}) }}
			</div>
			<div class="col-4 perfect-center content">
				<p>Inhalt</p>
			</div>
			<div class="col-4 text-right">
				<p>Inner Spacing Right</p>
				{{ pimcore_select("padding_right", {
					"store": [
						["", "---"],
						["pr-1", "klein"],
						["pr-3", "mittel"],
						["pr-5", "gross"],
					]
				}) }}
			</div>
		</div>
		<div class="row">
			<div class="col-4"></div>
			<div class="col-4 text-center">
				<p>Inner Spacing Bottom</p>
				{{ pimcore_select("padding_bottom", {
					"store": [
						["", "---"],
						["pb-1", "klein"],
						["pb-3", "mittel"],
						["pb-5", "gross"],
					]
				}) }}
			</div>
			<div class="col-4"></div>
		</div>
	</div>
	<div class="col-2 vertical-center-right">
		<p>Outer Spacing Right</p>
		{{ pimcore_select("margin_right", {
			"store": [
				["", "---"],
				["mr-1", "klein"],
				["mr-3", "mittel"],
				["mr-5", "gross"],
			]
		}) }}
	</div>
</div>
<div class="row">
	<div class="col-2"></div>
	<div class="col-8 text-center">
		<p>Outer Spacing Bottom</p>
		{{ pimcore_select("margin_bottom", {
			"store": [
				["", "---"],
				["mb-1", "klein"],
				["mb-3", "mittel"],
				["mb-5", "gross"],
			]
		}) }}
	</div>
	<div class="col-2"></div>
</div>
{% endspaceless %}