{# {% set areaId = "Video" %} #}

{% set margin = distances["margin"] ? distances["margin"] : "" %}
{% set video = pimcore_video("design_video") %}
{% set padding = distances["padding"] ? distances["padding"] : "" %}

{{ elementConfigBar|raw }}

<div class="{{ margin }} {{ padding }} {{ renderOptions }}">
	{{ video|raw }}
</div>