{%- set areaId = "Gallery" -%}
{%- set margin = distances["margin"] ? distances["margin"] : "" -%}
{%- set padding = distances["padding"] ? distances["padding"] : "" -%}
{%- set attributes = { "attributes": 
	{ 
		"loading": loading.text,
		"class": "fluid-img"
	}
} -%}

<svg style="display:none;">
	<symbol id="svg-arrow" viewBox="0 0 24 24">
		<path d="M13.025 1l-2.847 2.828 6.176 6.176h-16.354v3.992h16.354l-6.176 6.176 2.847 2.828 10.975-11z"/>
	</symbol>
</svg>

<div class="{{ margin }} {{ padding }} {{ renderOptions }}">
{%- if editmode -%}
	{{ elementConfigBar|raw }}
	{%- set output = "Es befinde" -%}
	{%- if images|length == 1 -%}
		{%- set output = output ~ "t sich " ~ images|length ~ " Bild" -%}
	{%- else -%}
		{%- set output = output ~ "en sich " ~ images|length ~ " Bilder" -%}
	{%- endif -%}
	{%- set output = output ~ " in dieser Galerie" -%}
	<p>{{output}}</p>
{%- else -%}
	<!-- Slideshow container -->
	<div class="slideshow-container">

		<!-- Full-width images with number and caption text -->
		{%- for image in images -%}
		<div class="slide-item fade show">
			{{image.getThumbnail("galleryImage").getHtml(attributes)|raw}}
			<div class="text">
				{{image.getFullPath()}}
			</div>
		</div>
		{%- endfor -%}

		<!-- Next and previous buttons -->
		<a class="prev" onclick="plusSlides(-1)">
			<svg class="icon" focusable="false" transform="scale(-1, 1)">
				<use xlink:href="#svg-arrow" title="zurück"></use>
			</svg>
		</a>
		<a class="next" onclick="plusSlides(1)">
			<svg class="icon" focusable="false">
				<use xlink:href="#svg-arrow" title="weiter"></use>
			</svg>
		</a>
	</div>

	<!-- The dots/circles -->
	<div class="slideshow-container-dots">
		<div style="text-align:center">
			{%- for key, image in images -%}
				<span class="dot" onclick="currentSlide({{key + 1}})"></span>
			{%- endfor -%}
		</div>
	</div>
{%- endif -%}
</div>

<script>
	var slideIndex = 1;
	showSlides(slideIndex);

	// Next/previous controls
	function plusSlides(n) {
		showSlides(slideIndex += n);
	}

	// Thumbnail image controls
	function currentSlide(n) {
		showSlides(slideIndex = n);
	}

	function showSlides(n) {
		var i;
		var slides = document.getElementsByClassName("slide-item");
		var dots = document.getElementsByClassName("dot");
		if (n > slides.length) {slideIndex = 1}
		if (n < 1) {slideIndex = slides.length}
		for (i = 0; i < slides.length; i++) {
			slides[i].style.display = "none";
		}
		for (i = 0; i < dots.length; i++) {
			dots[i].className = dots[i].className.replace(" active", "");
		}
		slides[slideIndex-1].style.display = "block";
		dots[slideIndex-1].className += " active";
	}
</script>

<style>
/* Slideshow container */
.slideshow-container {
	max-width: 1000px;
	position: relative;
	margin: auto;
}

/* Hide the images by default */
.slide-item {
	display: none;
}
.slide-item img {
	width: 100%;
}

/* Next & previous buttons */
.prev,
.next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	margin-top: -22px;
	padding: 5px 10px 10px 10px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	user-select: none;
}
.prev svg,
.next svg {
	color: white;
}

/* Position the "next button" to the right */
.next {
	right: 0;
}

/* Caption text */
.text {
	color: #f2f2f2;
	font-size: 15px;
	padding: 8px 12px;
	position: absolute;
	bottom: 8px;
	width: 100%;
	text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
	color: #f2f2f2;
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
}

/* The dots/bullets/indicators */
.dot {
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}

.active,
.dot:hover {
	background-color: #717171;
}

/* Fading animation */
.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
}

@-webkit-keyframes fade {
	from {opacity: .4}
	to {opacity: 1}
}

@keyframes fade {
	from {opacity: .4}
	to {opacity: 1}
}
</style>