{% set areaId = "Accordion" %}
{% set margin = distances["margin"] ? distances["margin"] : "" %}
{% set padding = distances["padding"] ? distances["padding"] : "" %}

<div class="{{ margin }} {{ padding }} {{ renderOptions }}">
	{{ include("@Toolbox/Areas/accordion/view.html.twig") }}
</div>